extends home

block content
  main.main.container 
    .characters-list
      each char in characters.data.results
        .character-card
          img.character-img(src=`${char.thumbnail.path}.${char.thumbnail.extension}`)
          h2.character-name= char.name
          a.character-btn(href="#") Details

  .characters-navigation.container
    button.btn-nav 1
    button.btn-nav 2
    button.btn-nav 3
    button.btn-nav 4
    button.btn-nav 5
    button.btn-nav &rarr;


        




      //- span= `${characters.data.results[0].name}`
      //- img(src= `${characters.data.results[0].thumbnail.path}.jpg`)

